#balcony{
    top: 88%;
    left: 20%;
    width: 280px;
    height: 50px;
    position: absolute;
    cursor: pointer;
}

#you6-1{
    position: absolute;
    width: 137px;
    height: 202px;
    top: 47%;
    left: 20%;
    cursor: pointer;
}

#you6-2{
    position: absolute;
    width: 137px;
    height: 182px;
    top: 51%;
    right: 24%;
    cursor: pointer;
}

#closet{
    position: absolute;
    width: 100px;
    height: 50px;
    top: 47%;
    left: 20%;
    cursor: pointer;
    z-index: auto; /* 重ねる */
}

#DK6{
    top:7%;
    right:24%;
    width:140px;
    height:215px;
    position:absolute;
    cursor:pointer;
}

#storage{
    position:absolute;
    cursor:pointer;
    top: 13%;
    right: 44%;
    width: 32px;
    height: 65px;
    z-index: auto; /* 重ねる */
}

#pipespace{
    position:absolute;
    cursor:pointer;
    top: 9%;
    right: 44%;
    width: 32px;
    height: 18px;
    z-index: auto; /* 重ねる */
}

#meterbox{
    position:absolute;
    cursor:pointer;
    top: 6%;
    right: 44%;
    width: 32px;
    height: 18px;
    z-index: auto; /* 重ねる */
}

#hole{
    position:absolute;
    cursor:pointer;
    top: 20%;
    left: 35%;
    width: 61px;
    height: 134px;
}