*{
    border: 1px solid #000;
    margin: auto;
  }
  #wrapper{
    background: #000;
    text-align: center;
    overflow: auto;
    /* width: 800px;
    height: 500px; */
  }
  #frame{
    /* margin: 50px auto; */
    position: relative;
    width: 500px;
    height: 500px;
    top: 0%;
    left: 0%;
    background: #fff;
    background-image: url(../map.jpg);
    
  }